/*====================
  Abstracts - variables
====================*/

// #region - Breakpoints
$breakpoints: (
  sp: $sp-breakpoint,
  tab: $tab-breakpoint,
  pc: $tab-breakpoint + 1px
);

$toTargets: (
  toSp: (
    ssp: $ssp-breakpoint,
    lsp: 900px
  ),
  toTab: (
    ltab: $ltab-breakpoint,
    st: 800px
  ),
  toPc: (
    big: 1300px
  )
);
// #endregion

// #region - Common Colors
// Dark
$black0: #000;
// Light
$white: #FFF;
// Red
$red1: #990000;
// #endregion

// #region - General Settings
// Fonts
$font-noto: "Noto Sans JP", sans-serif;
$font-poppins: "Poppins", sans-serif;

// Array for loops
$fonts: (
  "noto": $font-noto-sans,
  "poppins": $font-poppins,
);
// Settings
$base-family: $font-noto;
$base-text-color: $black1;
$primary: $black1;
// #endregion

// #region - Components Custom
// #endregion