// ==================================
// Abstracts - Variables
// ==================================

// #region - Breakpoints
$sp-breakpoint: 767px;
$tab-breakpoint: 1024px;
$breakpoints: (
  sp: $sp-breakpoint,
  tab: $tab-breakpoint,
  pc: $tab-breakpoint + 1px
);
$toTargets: (
  toSp: (
    // ssp: $ssp-breakpoint,
    // lsp: 900px
  ),
  toTab: (
    // ltab: $ltab-breakpoint,
    // st: 800px
  ),
  toPc: (
    // big: 1300px
  )
);
// #endregion

// #region - Common Colors
// Dark
$black3: #333;
// Light
$white0: #FFF;
// #endregion

// #region - General Settings
// Fonts
$font-noto: "Noto Sans JP", sans-serif;
$font-poppins: "Poppins", sans-serif;

// Array for loops
$fonts: (
  "noto": $font-noto,
  "poppins": $font-poppins,
);
// Settings
$base-family: $font-noto;
$base-text-color: $black3;
$primary: $black3;
$base-background: $white0;
// #endregion

// #region - Components Custom
// #endregion