@use "../abstracts/index" as *;

/*====================
  Utilities - Contact Icons
====================*/
.c-contact {
  display: flex;
  gap: 10px;
  align-items: center;
  @include sp {
    gap: 14px;
  }
  .c-footer .c-hotline & {
    @include sp {
      display: none;
    }
  }
}

.c-contact__icon {
  &:nth-of-type(1) {
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    mask-mode: alpha;
    mask-image: url(../../assets/img/icons/instagram-icon.svg);
    width: 20px;
    aspect-ratio: 1;
    background-color: $black9;
    @include sp {
      width: 25px;
    }
  }
  &:nth-of-type(2) {
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    mask-mode: alpha;
    mask-image: url(../../assets/img/icons/youtube-icon.svg);
    width: 22px;
    aspect-ratio: 22 / 16;
    background-color: $black9;
    @include sp {
      width: 27px;
    }
  }
  &:nth-of-type(3) {
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    mask-mode: alpha;
    mask-image: url(../../assets/img/icons/line-icon.svg);
    width: 20px;
    aspect-ratio: 1;
    background-color: $black9;
    @include sp {
      width: 25px;
    }
  }
}