
@use "../abstracts/" as *;
// ==========================
// Base Gallery Layout
.c-gallery {
  --gallery-gap: 40px;
  --gallery-col: 1;
  display: grid;
  grid-template-columns: repeat(var(--gallery-col), 1fr);
  gap: var(--gallery-gap);
  margin: auto;
  margin-top: 100px;
  max-width: 100%;
  width: 100%;
  @include tab {   
  --gallery-gap: 20px;
}
}

// Columns
.c-gallery--some {
  --gallery-col: 2;
}

.c-gallery--many {
  --gallery-col: 4;
  @include sp {
    --gallery-col: 2;
  }
}

// Ratios
.c-gallery__box {}

.c-gallery--some .c-gallery__box {
  grid-column: span 1;
  grid-row: span 1;
  
}

.c-gallery--many .c-gallery__box {
  aspect-ratio: 1;
  grid-column: span 1;
  grid-row: span 1;
}

// Some Layout
.c-gallery--odd .c-gallery__box:nth-last-of-type(2) {
  grid-column: span 1;
  grid-row: span 2;
  aspect-ratio: 535 / 800;
}

// Many Layout
.c-gallery--remain-by-1{
  --gallery-col: 3;
}

.c-gallery--remain-by-2{
  --gallery-col: 3;
  .c-gallery__box {
    &:nth-last-of-type(8), &:nth-last-of-type(3) {
      grid-column: span 1;
      grid-row: span 2;
      aspect-ratio: 535 / 800;
    }
  }
}

.c-gallery--remain-by-3{
  --gallery-col: 3;
  .c-gallery__box {
    &:nth-last-of-type(3) {
      grid-column: span 1;
      grid-row: span 2;
      aspect-ratio: 535 / 800;
    }
  }
}

// ==========================
.c-gallery__img {
  width: 100%;
  height: 100%;
  aspect-ratio: 800 / 535;
}
