@use '../abstracts/' as *;
@use '../utilities/text' as *;

/*====================
  Components - Hotline
====================*/
.c-hotline {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  @include sp {
    gap: 24px;
  }
  .c-footer & {
    border-bottom: 1px solid $gray1;
  }
}

.c-hotline__heading {  
  font-family: $font-notosansjp;
  font-size: 1.2rem;
  letter-spacing: inherit;
  color: $black3;
  font-weight: 400;
}

.c-hotline__heading--lighter {  
  color: $black9;
  .c-hotline & {
    margin-bottom: 8px;
  }
  @include sp {
    font-size: 1.3rem;
  }
}