@use '../abstracts/' as *;

/*====================
  Components - Title
====================*/
// #region - Leading Arrow
.c-title-arrow {
  padding-left: 16px;
  position: relative;
  &::before {
    content: "";
    background: url(../../assets/img/icons/right-arrow-333.svg) no-repeat center / contain;
    width: 4px;
    aspect-ratio: 4 / 7;
    position: absolute;
    left: 2px;
    top: .5em;
  }
}

.c-title-arrow--999 {
  &:before {
    background-image: url(../../assets/img/icons/right-arrow-999.svg)
  }
}
// #endregion

// #region - Title1
.c-heading1 {
  display: flex;
  flex-direction: column;
}
.c-heading1__title {
  font-family: $font-poppins;
  font-weight: 200;
  font-size: 4.8rem;
  letter-spacing: .1em;
  color: $black3;
  text-align: center;
}
.c-heading1__subtitle {
  font-size: 1.6rem;
  letter-spacing: .1em;
  color: $black3;
  text-align: center;
}
// #endregion
